<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Zap News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light tint">
  <ion-grid>

    <ion-row>

    <ion-col size="6" class="ion-text-center">
      <ion-card href="#">
        <ion-toolbar color="medium">
        <ion-title>O Globo</ion-title>
        </ion-toolbar>
      </ion-card>
    </ion-col>

    <ion-col size="6" class="ion-text-center">
      <ion-card href="#">
        <ion-toolbar color="medium">
        <ion-title>Estadão</ion-title>
        </ion-toolbar>
      </ion-card>
        </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6" class="ion-text-center">
        <ion-card href="#">
          <ion-toolbar color="medium">
          <ion-title>TechTudo</ion-title>
          </ion-toolbar>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-card href="#">
          <ion-toolbar color="medium">
          <ion-title>Uol News</ion-title>
          </ion-toolbar>
        </ion-card>
          </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="6" class="ion-text-center">
          <ion-card href="#">
            <ion-toolbar color="medium">
            <ion-title>ISTOÉ</ion-title>
            </ion-toolbar>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <ion-card href="#">
            <ion-toolbar color="medium">
            <ion-title>Record News</ion-title>
            </ion-toolbar>
          </ion-card>
            </ion-col>

        </ion-row>

      <ion-row>

          <ion-col size="6" class="ion-text-center">
            <ion-card href="#">
              <ion-toolbar color="medium">
              <ion-title>Critical Hits</ion-title>
              </ion-toolbar>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-text-center">
            <ion-card href="#">
              <ion-toolbar color="medium">
              <ion-title>CNN Brasil</ion-title>
              </ion-toolbar>
            </ion-card>
              </ion-col>

          </ion-row>

  </ion-grid>
</ion-content>
