<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zap News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="assets/user.jpg">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div>
        <h3>João Pontes</h3>
        <h4>ID: @joaopontes</h4>
        <p>
          <a href="mailto:jg9200055@gmail.com">jg9200055@gmail.com</a>
        </p>
      </div>
    </ion-label>
  </ion-item >

  <ion-item lines="full">
    <ion-icon name="heart" color="danger"></ion-icon>
    <ion-label>Favoritos</ion-label>
    <ion-badge slot="end" color="danger">12</ion-badge>
   </ion-item>

   <ion-item lines="full">
    <ion-label>Versão</ion-label>
    <ion-badge slot="end" color="success">0.0.1</ion-badge>
   </ion-item>

</ion-content>
